#tipButton {
    display: none;
}

.stroken-container {
    position: relative;
}

.tips-from-tha-stroke-container {
    position: absolute;
    overflow: hidden;
    bottom: 0px;
    width: 150px;

    height: 90px;
}

.tips-from-tha-stroke {
    position: relative;
    z-index: 200;
    text-align: center;
    padding: var(--space-xs) 0px;
    background-color: var(--color-bg);
    box-shadow: 3px 5px 0px #00000040;
    font-family: var(--font-title);
    border-radius: 100px;
    transition: 1s;
    margin: 10px 25px 0px 25px;
}

.stroken {
    position: absolute;
    bottom: 0;
    background-image: url(./Tha_Stroke.png);
    background-size: cover;
    background-position: top;
    width: 150px;
    height: 0px;
    transition: height 1.5s 0s;
}

#tipButton:checked+.stroken-container>.stroken {
    height: 200px;
    transition: height 1.5s 0.2s;
}

#tipButton:checked+.stroken-container .tips-from-tha-stroke-container>.tips-from-tha-stroke {
    margin-top: 95px;
}

.bubble {
    display: flex;
}

.bubble-square {
    text-align: center;
    height: 100px;
    width: 150px;
    background-color: green;
    border-radius: 12px;
}

.bubble-triangle {
    margin-top: auto;
    margin-bottom: auto;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;

    border-left: 20px solid green;

}