.scroll {
    padding-left: var(--space-s);
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
    scroll-snap-type: x mandatory;
    display: flex;
    flex-direction: row;
}

.scroll img {
    scroll-snap-align: start;
}

.buttonContainer {
    display: inline-block;
    position: relative;
    scroll-snap-align: start;
    padding-left: var(--space-s);
}
