.storybook-button--AddToPlaner {
    padding-left: var(--space-m);
    padding-top: var(--space-3xs);
    padding-bottom: var(--space-3xs);
    padding-right: var(--space-m);

    color: var(--color-bg);
    background-color: var(--color-secondary);

    font-size: var(--step--1);
    font-family: var(--font-body);  

    box-shadow: var(--shadow1);
    border-radius: 20px;
  }