.bakk {
    background-color: var(--color-tertiary);
    padding-left: var(--space-m);
    padding-top: var(--space-3xs);
    padding-bottom: var(--space-xs);
    padding-right: var(--space-2xl);
    font-size: var(--step-0);
}

.title {
    font-weight: 600;
    margin-top: var(--space-3xs);
    font-family: var(--font-title);
}
.text {
    color: var(--color-gray);
    font-size: var(--step--1);
    font-family: var(--font-title);
    font-weight: 600;

    margin: var(--space-3xs);
}

.ruta {
    background-color: var(--color-bg);
    padding-left: var(--space-s);
    padding-right: var(--space-3xl);

    border-radius: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--color-border);

    font-size: var(--step--1);
    font-weight: 500;
}

.textruta {
    margin-top: var(--space-3xs);
    margin-bottom: var(--space-3xs);
    font-family: var(--font-body);
}
