.LoggOut {
    padding-left: var(--space-3xl);
    padding-top: var(--space-2xs);
    padding-bottom: var(--space-2xs);
    padding-right: var(--space-3xl);
  
    color: var(--color-delete);
    background-color: var(--color-bg);
  
    font-size: var(--step--1);
    font-family: var(--font-title);
    font-weight: 500;
  
    box-shadow: var(--shadow2);
    border-radius: var(--border-large);
    border-style: none;
    transition: transform 0.2s
  }
  
  
  .LoggOut:active {
    transform: scale(0.95);
  }