.statsBar {
    height: 6px;
    background-color: var(--color-secondary);
    border-radius: 100px;
    grid-area: 1 / 1;
}

.statsBackDrop {
    width: 50vw;
    height: 6px;
    background-color: var(--color-border);
    border-radius: 100px;
    grid-area: 1 / 1;
}

.grid {
    display: grid;
}

.dflex {
    display: flex;
}

span {
    color: var(--color-fg);
    font-family: var(--font-title);
    font-size: var(--step-1);
    font-weight: 500;
    margin-right: var(--space-s);
}

p {
    color: var(--color-primary);
    font-family: var(--font-title);
    font-weight: 500;
    margin: 0;
    margin-bottom: 2px;
}
