.planCarouselCard {
    background-color: var(--color-bg);
    width: 12rem;
    border-radius: 12px;
    box-shadow: var(--shadow1);
    padding: var(--space-xs);
}

.planCarouselCard p {
    font-family: var(--font-title);
    font-weight: 600;
    font-size: var(--step-1);
    padding-bottom: 0;
    margin: 0;
    color: var(--color-primary);
}

/* .planCarouselCard img {
    width: 13rem;
    height: 13rem;
    overflow: hidden;
    position: absolute;
    right: 50%;
    margin-left: 13rem;
} */

.planCarouselCard button {
    border-radius: 12px;
    border-style: none;
    padding: var(--space-2xs);
    box-shadow: var(--shadow2);
    width: 47%;
    margin-top: var(--space-xs);
    font-family: var(--font-body);
}

.planCarouselCard .buttonContainer {
    display: flex;
    justify-content: space-between;
}

.planCarouselCard .buttonLunch button {
    color: var(--color-bg);
    background-color: var(--color-secondary);
}

.planCarouselCard .buttonLunch button:nth-child(2) {
    color: var(--color-fg);
    background-color: var(--color-bg);
}

.planCarouselCard .buttonDinner button {
    color: var(--color-fg);
    background-color: var(--color-bg);
}

.planCarouselCard .buttonDinner button:nth-child(2) {
    color: var(--color-bg);
    background-color: var(--color-secondary);
}
