.statsBar {
    height: 6px;
    background-color: var(--color-secondary);
    border-radius: 100px;
}

.statsBackDrop {
    width: 140px;
    height: 6px;
    background-color: var(--color-border);
    border-radius: 100px;
}

.dflex {
    background-color: var(--color-bg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--space-s);
}

.dflex:nth-child(odd) {
    background-color: var(--color-tertiary);
}

.statsTitle {
    color: var(--color-fg);
    font-family: var(--font-title);
    font-size: var(--step-2);
    font-weight: 500;
    margin-right: var(--space-s);
}

.statsAmount {
    color: var(--color-primary);
    font-family: var(--font-title);
    font-weight: 500;
    margin: 0;
    margin-bottom: 5px;
}