.Save {
    padding-left: var(--space-s);
    padding-top: var(--space-2xs);
    padding-bottom: var(--space-2xs);
    padding-right: var(--space-s);
  
    color: var(--color-bg);
    background-color: var(--color-secondary);
  
    font-size: var(--step--1);
    font-family: var(--font-title);
    font-weight: 500;
  
    box-shadow: var(--shadow2);
    border-radius: 25px;
    border-style: none;
    transition: transform 0.2s
  }
  
  
  .Save:active {
    transform: scale(0.95);
  }