:root {
    --step--2: clamp(0.72rem, 0.6922rem + 0.1391vw, 0.8rem);
    --step--1: clamp(0.9rem, 0.8652rem + 0.1739vw, 1rem);
    --step-0: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --step-1: clamp(1.4063rem, 1.3519rem + 0.2717vw, 1.5625rem);
    --step-2: clamp(1.7581rem, 1.6903rem + 0.3391vw, 1.9531rem);
    --step-3: clamp(2.1975rem, 2.1127rem + 0.4239vw, 2.4413rem);
    --step-4: clamp(2.7469rem, 2.6408rem + 0.5304vw, 3.0519rem);
    --step-5: clamp(3.4331rem, 3.3003rem + 0.6641vw, 3.815rem);

    --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
    --space-2xs: clamp(0.5625rem, 0.5408rem + 0.1087vw, 0.625rem);
    --space-xs: clamp(0.875rem, 0.8533rem + 0.1087vw, 0.9375rem);
    --space-s: clamp(1.125rem, 1.0815rem + 0.2174vw, 1.25rem);
    --space-m: clamp(1.6875rem, 1.6223rem + 0.3261vw, 1.875rem);
    --space-l: clamp(2.25rem, 2.163rem + 0.4348vw, 2.5rem);
    --space-xl: clamp(3.375rem, 3.2446rem + 0.6522vw, 3.75rem);
    --space-2xl: clamp(4.5rem, 4.3261rem + 0.8696vw, 5rem);
    --space-3xl: clamp(6.75rem, 6.4891rem + 1.3043vw, 7.5rem);
    --space-5xl: clamp(9.75rem, 9.4891rem + 1.8043vw, 9.5rem);
    --space-7xl: clamp(12.75rem, 12.4891rem + 2.3043vw, 15rem);
    --space-9xl: clamp(15.75rem, 15.4891rem + 2.8043vw, 20.5rem);
    /* One-up pairs */
    --space-3xs-2xs: clamp(0.3125rem, 0.2038rem + 0.5435vw, 0.625rem);
    --space-2xs-xs: clamp(0.5625rem, 0.4321rem + 0.6522vw, 0.9375rem);
    --space-xs-s: clamp(0.875rem, 0.7446rem + 0.6522vw, 1.25rem);
    --space-s-m: clamp(1.125rem, 0.8641rem + 1.3043vw, 1.875rem);
    --space-m-l: clamp(1.6875rem, 1.4049rem + 1.413vw, 2.5rem);
    --space-l-xl: clamp(2.25rem, 1.7283rem + 2.6087vw, 3.75rem);
    --space-xl-2xl: clamp(3.375rem, 2.8098rem + 2.8261vw, 5rem);
    --space-2xl-3xl: clamp(4.5rem, 3.4565rem + 5.2174vw, 7.5rem);

    --color-bg: #FFFCF9;
    --color-fg: #111111;
    --color-primary: #46539C;
    --color-secondary: #6290C8;
    --color-tertiary: #EFEFEF;
    --color-delete: #EA3E49;
    --color-gradient-d: #4E82C2;
    --color-gradient-l: #92C0F9;
    --color-gray:#818181;
    --color-border:#B9B9B9;
    --color-gayer:#444444;

    --shadow1: 2px 2px 4px 2px #00000040;
    --shadow2: 2px 3px 13px #00000040;

    --font-title: 'Lexend Deca', sans-serif;
    --font-body: 'Karla', sans-serif;
}

body {
    margin: 0;
}
