.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.startText {
  font-size: var(--step-1);
  text-align: left;
  font-family: var(--font-title);
  margin: var(--space-s);
  margin-top: var(--space-2xl);
  margin-bottom: var(--space-l);
}

.buttonsSaved {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.scroll {
  padding-left: var(--space-s);
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
  scroll-snap-type: x mandatory;
}

.scroll img {
  padding: 10px;
  scroll-snap-align: start;
}

.buttonContainer {
  margin-inline: var(--space-2xs);
  display: inline-block;
  position: relative;
  scroll-snap-align: start;
}

.primaryButtonTime {
  position: absolute;
  bottom: 4em;
  right: 10em;
  background-color: red;

}

.secondaryButtonTime {
  position: absolute;
  bottom: 4em;
  left: 10em;
  background-color: blue;
}



.buttonContainer a {
  border-radius: 1.5em;
  text-transform: uppercase;
  padding: 1em 1, 5em;

}

.chosenMeals {
  background-color: #EFEFEF;
  margin-top: var(--space-xl);
  padding-bottom: var(--space-3xl);
}

.chosenMeals h1 {
  color: var(--color-fg);
  font-family: var(--font-title);
  font-size: var(--step-1);
  font-weight: 500;
  padding: var(--space-s) 0 0 var(--space-s);
  margin-bottom: 0;
}

.chosenMeals span {
  color: var(--color-gray);
  font-family: var(--font-body);
  font-size: var(--step--1);
  font-weight: 400;
  padding: var(--space-s) 0 0 var(--space-s);
  margin-top: 0;
}


/* .namecolor {
  color: white;
}

.images {
  display: flex;
  width: 100%;
}

.images img {
  height: 400px;
  width: 100%;
  transition: all 0.15s ease;
}

.images input {
  display: none;
}

.dots {
  display: flex;
  justify-content: center;
  margin: 5px;
}

.dots label {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: solid #fff 3px;
  cursor: pointer;
  transition: all 0.15s ease;
  margin: 5px;
}

.dots label:hover {
  background: #fff;
}

#img1:checked~.m1 {
  margin-left: 0;
}

#img2:checked~.m2 {
  margin-left: -100%;
}

#img3:checked~.m3 {
  margin-left: -200%;
}

#img4:checked~.m4 {
  margin-left: -300%;
} */
