.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.StartText{
  text-align: center;
}

.StartChoice{
  text-align: center;
  padding: 1rem;
}

.StartChoiceText {
  margin: 5rem;
  padding: 0.25rem;
  background-color: black;
  color: white;
  border-radius: 10px;
}

