

.title{
    color: var(--color-primary);
    font-family: var(--font-title);
    font-weight: 600;
    font-size: var(--step-4);
}

.undertext{
    color: var(--color-secondary);
    font-family: var(--font-body);
    font-weight: 600;
    position: fixed;
    top: var(--space-5xl);

    
}

.prison{
    background-color: var(--color-bg);
    border-radius: 20px 20px 0px 0px;
    padding-bottom: var(--space-2xs);
    padding-left: var(--space-s);

    margin-left: -8px;
    margin-top: var(--space-3xl);
    box-sizing: border-box;
    width: 104%;
    
}