#flex{
    flex-direction: row;
    display: flex;
}

.bg{
    background-color: var(--color-bg);
    width: 110%;
    height: 100%;
    margin-left: -8px;
    margin-top: -30px;
    padding-bottom: 700px;
}

.title{
    color: var(--color-primary);
    font-family: var(--font-title);
    font-size: var(--step-4);
    font-size: 600;

    padding-left: var(--space-m);
    padding-top: var(--space-l);
    margin-bottom: 0;
}

.save{
    color: var(--color-fg);
    font-family: var(--font-body);
    font-weight: 00;

    padding-left: var(--space-xl);
    
}

.text1{
    color: var(--color-primary);
    padding-left: var(--space-l);
    padding-top: var(--space-3xs);
    
    font-size: 600;
    font-size: var(--font-body);
    font-size: var(--step-0);
    
    position: absolute;
}



.text2{
    color: var(--color-fg);
    font-family: var(--font-body);
    font-size: var(--step-1);
    font-weight: 500;
    position: relative;
    
    padding-left: var(--space-l);
    padding-top: var(--space-s) ;
    
    
}

.text11{
    color: var(--color-primary);
    padding-left: var(--space-l);
    padding-top: var(--space-3xs);
    
    font-size: 600;
    font-size: var(--font-body);
    font-size: var(--step-0);
    position: absolute
    
}

.text22{
    color: var(--color-fg);
    font-family: var(--font-body);
    font-size: var(--step-1);
    font-weight: 500;

    position: relative;
    
    padding-left: var(--space-l);
    padding-top: var(--space-s) ;
    
    
    
}

.mealtid{
    color: var(--color-fg);
    font-family: var(--font-title);
    font-weight: 700;
    font-size: var(--step-0);

    padding-left: var(--space-l);
    padding-top: var(--space-xs);
}


.bak1{
    background-color: var(--color-tertiary);
    padding-left: var(--space-l);
    padding-top: var(--space-3xs);
    padding-bottom: var(--space-3xs);
    padding-right: var(--space-3xls); 
}

.bak2{
    padding-left: var(--space-l);
    padding-top: var(--space-3xs);
    padding-bottom: var(--space-3xs);
    padding-right: var(--space-3xls); 
}


.tex{

    color: var(--color-fg);

    font-size: var(--step--1);
    font-weight: 500;
    font-family: var(--font-title);
    
    position: absolute;
}

.del{
    color: var(--color-gayer);
    font-family: var(--font-body);
    font-size: var(--step--1);
    font-weight: 500;
    
    position: relative;
    padding-left: 75%;
}

