.h1 {
    font-family: var(--font-title);
    font-size: var(--step-1);
    font-weight: 600;
    color: var(--color-fg);
    margin: 0;
    margin-left: var(--space-m);
    margin-bottom: var(--space-s);
    margin-top: var(--space-s);
}

.dflex {
    display: flex;
}

.dflex .h1 {
    margin-bottom: 0;
}