.storybook-button--SavedMeals {
    color: var(--color-fg);
    --step-2: clamp(1.7581rem, 1.6903rem + 0.3391vw, 1.9531rem);
    font-size: var(--step-1);
    font-family: var(--font-body);
    background-color: var(--color-bg);  
    box-shadow: var(--shadow1);
    border-radius: 12px;
    width: 250%;
    padding-top: 10%;
    padding-bottom: 10%;
  }