.storybook-button--SavedMeals {
    color: var(--color-bg);
    --step-2: clamp(1.7581rem, 1.6903rem + 0.3391vw, 1.9531rem);
    font-size: small;
    font-family: var(--font-body);
    background-color: var(--color-secondary);  
    box-shadow: var(--shadow1);
    border-radius: 12px;
  }