.title{
    margin: 0;
    margin-bottom: -6px;
    color: var(--color-primary);
    font-family: var(--font-title);
    font-weight: 600;
    font-size: var(--step-4);
}

.undertext{
    margin: 0;
    color: var(--color-secondary);
    font-family: var(--font-body);
    font-weight: 500;
}

.prison{
    background-color: var(--color-bg);
    border-radius: var(--border-large) var(--border-large) 0px 0px;
    padding: var(--space-xs) var(--space-m) var(--space-m) var(--space-m);
    margin-top: var(--space-4xl);
    box-sizing: border-box;
    width: 100%;
}