.saveButton {
    text-align: left;
    padding-left: var(--step-3);
    height: 30px;
    color: var(--color-fg);
    background-color: transparent;

    font-size: var(--step-0);
    font-family: var(--font-body);
    font-weight: 600;

    border-style: none;

    background-size: 30px;
    background-repeat: no-repeat;

    transition: transform 0.2s;
}

.margin0 {
    margin: 0;
}

.addToSaved {
    background-image: url(./bookmark_FILL0_wght600_GRAD0_opsz40.svg);
}

.removeFromSaved {
    background-image: url(./bookmark_FILL1_wght600_GRAD0_opsz40.svg);
}

.saveButton:active {
    transform: scale(0.95);
}
